{% extends 'wallet/base.html' %}

{% block content %}
<div class="container center-text">
    <div class="row">

        <h1>Account Activation Required</h1>
        To use your Stellar account, you must activate it by sending at least 5 lumens (XLM) to your
        account.
        You can buy lumens (XLM) from an exchange and send them to your address.

        <h2>Receive from another wallet</h2>

        <img src="{{qr}}" alt="" />
        Your Wallet Account ID
        <small class="sm-txt">{{public_key}}</small>
    </div>
</div>
{% endblock %}