{% extends 'wallet/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <p>Account activation required<br>
                To use your Stellar account, you must activate it by sending at least 5 lumens (XLM) to your
                account.
                You can buy lumens (XLM) from an exchange and send them to your address.<br>
            </p>
            Receive from another wallet
            <div>
                <p><img src="{{qr}}" alt="" /></p>
                <p>Your Wallet Account ID</p>
                <p>{{public_key}}</p>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}