{% extends 'wallet/base.html' %}

{% block content %}
<div class="container">
    <div class="row top-title">
        <div class="col-4">
            <img style="width:100%" src="{{request.session.session_data.qr}}" alt="" />
        </div>
        <div class="col-8">
            
            <h1 class="highlight">Your Wallet</h1>
            <small>To receive payments, share your account ID or scan QR code.</small>
        </div>
        <div class="col address">
            <div>{{request.session.session_data.id}}</div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Asset</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Value (EUR)</th>
                </tr>
            </thead>
            <tbody>
                {% for data in request.session.session_data.balances %}
                <tr>
                    <td>{{ data.asset_code }}</td>
                    <td>{{ data.balance }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xl-12 border">
            <h4>Where is the money stored?</h4>
            <small>On the Stellar network, funds exist on the network and can only be moved by whoever has the
                secret
                key. This means that your secret key is extremely sensitive, and whoever has access to it can move
                the funds. However, money is NOT actually "inside" Interstellar. Interstellar is a tool that helps
                you use your secret key to make transactions.

                <p><b>WARNING:</b> Be extremely careful with your secret key and do not share it with anybody.
            </small></p>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 border margin-top-10"><small>The Stellar network requires accounts to maintain a minimum balance. A 1 XLM
                minimum balance is required with an additional requirement 0.5 XLM for each entry in the account
                such as a trustline or offer.

                Each entry (asset accepted, offer, signer) increases your minimum balance by 0.5 XLM. Additionally,
                Interstellar enforces a 0.5 XLM of extra minimum balance in an attempt to make sure your account can
                still make transactions without going below the network minimum balance requirements.

                <b>To decrease your minimum balance</b>, you can remove an existing offer or unaccept an
                asset.</small>
        </div>
        <div class="col-xl-6 margin-top-10 margin-bottom-30 border">
            <div class="row">
                <div class="col">Base reserve</div>
                <div class="col">1 XLM</div>
            </div>
            <div class="row">
                <div class="col">Extra</div>
                <div class="col">0.5 XLM</div>
            </div>
            <div class="row">
                <div class="col">XLM in active offers</div>
                <div class="col">0 XLM</div>
            </div>
            <div class="row">
                <div class="col">Trustlines</div>
                <div class="col">? XLM</div>
            </div>
            <div class="row">
                <div class="col">Offers</div>
                <div class="col">0 XLM</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}