{% extends 'wallet/base.html' %}

{% block content %}
<section class="bg-section-home top-pad-lrg">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <a href="wallet" class="btn btn-primary mb-3">Create Account </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <a href="account" class="btn btn-primary mb-3">Login </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}